html{
    /* background-color: orange; */
}
.container{
    display: flex;
    /* justify-content: center; */
    /* border: 2px solid green; */
    width: 70%;
    margin: auto;
    gap: 2em;
    margin-top: 3em;
}
.container > * {
    /* flex: 1; */
    /* border: 2px solid red; */
}
.boardContainer{
    display: flex;
    justify-content: center;
    width: 60%;
}
.functions{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.chessBoard {
    display: grid;
    grid-template-columns: repeat(8, minmax(0,1fr));
    grid-template-rows: repeat(8, minmax(0,1fr));
    width: 500px;
    height: 500px;
    border-radius: 5px;
    
}
.light{
    background-color: #f0d9b5;
}

.dark{
    background-color: #b58863;
}

.square{
    /* border: 2px solid rgb(219, 0, 37); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.piece{
    /* width: 40px; */
    font-size: 36px;
    cursor: pointer;
}

.white{
    color: white;
}
.black {
    color: black;
}

.flipped{
    transform: rotate(180deg);
    /* border: 4px solid blue; */
}

.flipped .piece {
    transform: rotate(180deg);
}

.draggable{
    cursor: pointer;
}

.hidden{
    display: none;
}

.startGameBtn {
    background-color: rgb(76, 142, 76);
    color: white;
    font-size: 1rem;
    padding: 0.5em 1em;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}